@tailwind base;

@tailwind components;

@tailwind utilities;

.toolbar-btn {
	@apply p-1 px-2 mx-1 text-gray-600 cursor-pointer rounded;
}

.toolbar-btn:hover,
.toolbar-btn.toolbar-btn--active {
	@apply bg-gray-100 text-gray-800;
}

.toolbar-btn--inverted {
	@apply text-gray-400;
}

.toolbar-btn.toolbar-btn--inverted:hover,
.toolbar-btn--inverted.toolbar-btn--active {
	@apply bg-gray-700 text-white;
}

.app-nav-item {
	@apply flex items-center w-full justify-center h-12 cursor-pointer;
}

.app-nav-item .icon {
	@apply border-2 rounded text-gray-400 border-transparent mx-2 px-2 w-full py-1 flex items-center justify-center;
}

.app-nav-item:hover .icon {
	@apply text-white;
}

.app-nav-item.active .icon {
	@apply border-2 border-indigo-700 bg-gray-800 text-white;
}

.sidebar-note:hover .delete-btn {
	@apply opacity-100;
}

.navigator-navitem {
	@apply px-4 py-2 flex items-center text-gray-400;
}

.navigator-link {
	@apply px-4 py-2 flex items-center text-gray-400 cursor-pointer;
}

.navigator-link:hover {
	@apply bg-gray-800;
}

.navigator-link.active {
	@apply text-white bg-gray-800 cursor-default;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
